@import url('https://fonts.googleapis.com/css2?family=I@0;1&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Inter, sans-serif;
    color: white;
    text-align: center;
    background: radial-gradient(54.58% 52.45% at 50% 85.74%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #141414 0%, #232323 100%);
}

container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-family: "Instrument Serif", serif;
    margin: 0;
    font-size: 64px;
    font-style: italic;
}

p {
    width: 80vw;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.64);
    font-size: 18px;
    max-width: 600px;
}

a, button {
    all: unset;
}

button {
    padding: 14px 26px;
    background-color: white;
    color: black;
    font-weight: 500;
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

@keyframes blurUp {
    from {
        transform: translateY(16%);
        opacity: 0;
        filter: blur(12px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
        filter: blur(0px);
    }
}

.items {
    opacity: 0;
    animation: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both blurUp;
}

footer {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 48px;
    width: 100vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.footer-note {
    font-size: 16px
}

.link {
    border-bottom: 2px solid rgba(236, 209, 255, 0.4);
    cursor: pointer;
}

.link:hover {
    border-bottom: 2px solid rgba(236, 209, 255, 0.8);
    cursor: pointer;
    color: white;
}